*{
    margin:0;padding:0;box-sizing:border-box;
}
a{
    text-decoration:none;
}
body
{
    width:100%;
    height:100px;
    background-image:url("img/bga.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;

}
.top{
    width:100%;
    height:100px;
    background:red;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:0px 150px;
}
.logo_area{
    width:20%;
}
.logo_area a{
     display: flex;
     align-items: center;
     justify-content:space-between;

}
.logo_area a img{
    width:50px;
}
.logo_area a h1{
    color:white;
    text-transform: uppercase;
    font-family:cursive;
    margin-left:15px;
    
}
.menu_area{
    width:60%;

}

    .menu_area ul{
        list-style:none;
        display:flex;
        align-items:center;
        justify-content:space-between;
    }

    
        


    
    
    .menu_area.logo_area ul li a{
        color: #fff;
        font-family:lato;
        font-size:16px;
        transition:0.3s all ease-in-out;
    }
      
    .menu_area.logo_area ul li a:hover{
       color: aqua;
    }
    .info{
        
        text-align: center;
        width:100%;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
    }
    .info h1{
        color:yellow;
        font-family:lato;
        font-size:60px;
    }
    .info p{
        color: #fff;
        font-size:20px;
        font-family:Arial, Helvetica, sans-serif;
        margin: 100px 0px;
    }
    .btn button{
        padding: 15px 50px;
        background:transparent;
        border:2px solid aqua;
        color:deep black;
        font-size:16px;
        border-radius:25px;
        cursor:pointer;
        position: relative;
        overflow: hidden;
    }
    .btn button::after{
        content:"";
        position: absolute;
        width: 0%;
        height:100%;
        background:plum;
        left:0;
        top: 0;
        z-index:-1;
        transition:.5s all ease-in-out;
    }
    .btn button:hover::after{
        width:100%;
    }